{% extends "ProyectoWebApp/base.html" %} {% load static %} {% block content %}



<div class="contenedorclima">
    <div class="caja1">
        <h1 id="temperatura-valor"></h1>
        <h1 id="temperatura-descripcion"></h1>
    </div>
    <div class="caja2">
        <h2 id="ubicacion"></h2>
        <img id="icono-animado" src="" alt="" height="128" width="128">
    </div>
    <div class="caja3">
        <h3>Veloc. del Viento</h3>
        <h1 id="viento-velocidad"></h1>
    </div>
</div>
<script src="{%static 'clima/app.js'%}"></script>
{% endblock %}