{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

    


    <div class="container">
      <div class="row align-items-start">
          <div class="col">

              <div class="card" style="width: 18rem;">

                  <div class="card-body">
                      <h5 class="card-title"><strong>HISTORIA</strong></h5>
                      <p class="card-text">Somos la tienda “Boticaria Animal” conformada por  Cesar Gonzalez. Nosotros comenzamos con una tienda vía redes sociales pero al haber mucha demanda nos trasladamos a una pagina web.</p>

                  </div>
              </div>

          </div>
          <div class="col">

              <div class="card" style="width: 18rem;">

                  <div class="card-body">
                      <h5 class="card-title"><strong>MISIÓN</strong></h5>
                      <p class="card-text">Nuestra misión es simple: ayudar a los dueños de mascotas a elegir no sólo lo mejor, sino también los productos más adecuados y seguros para sus pequeños amigos, incluyendo perros y gatos.
                      </p>

                  </div>

              </div>
          </div>
          <div class="col">

              <div class="card" style="width: 18rem;">

                  <div class="card-body">
                      <h5 class="card-title"><strong>VISIÓN </strong></h5>
                      <p class="card-text">Nuestra visión es convertirnos en el sitio número uno del mundo para ofrecer consejo, guía y apoyo imparcial que ayude a los dueños de mascotas de todo el mundo a tomar decisiones informadas y bien guiadas cuando se trata del cuidado
                          de sus amigos.</p>

                  </div>

              </div>
          </div>
      </div>






      <!--video-->
      <div class="video">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="ratio ratio-16x9">
                          <iframe src=" https://www.youtube.com/embed/5MyITTTq1ZY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                  </div>
              </div>
          </div>
      </div>



    

{% endblock %}