{% extends "ProyectoWebApp/base.html" %} {% load static %} {% block content %}





<!-- Heading -->
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/music.jfif' %}" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-6">

                    <span class="section-heading-lower">INSTRUMENTOS Y ACCESORIOS MUSICALES “MUSICPRO”</span>
                </h2>
                <p class="mb-3">La industria de fabricación de instrumentos musicales ha ido en constante alza desde los años 50s con el nacimiento de distintos géneros musicales el cual necesitan una gran variedad de instrumentos y accesorios de estos tales como guitarras,
                    bajos, tambores, baterías, trompetas, pianos, teclados etc.
                </p>

            </div>
        </div>
    </div>

</section>






{% endblock %}